To the historical price data we adding extra columns that show trend values (1 for positive trend, 0 for no trend, and -1 for negative trend) calculated in 2 different ways.
We are also adding a column for trend values 10 days in the future which will be the column that we are predicting.

In [2]:
import pandas as pd

In [3]:
#df=pd.read_excel('data\LUGR Data OHLC Daily Gaming and Entertainment ENG 2013-2022.xlsx',sheet_name='SP500',skiprows=[0])
df = pd.read_csv('data/prices_separated/ntdoy.csv')

In [4]:
df.head()

   Date (GMT)    Open    High       Low    Last
0  2019-01-02  100.24  104.52   99.0400  104.01
1  2019-01-03  102.40  103.00   99.1100   99.15
2  2019-01-04  101.13  103.76   99.6601  101.70
3  2019-01-07  101.50  104.94   99.2900  104.41
4  2019-01-08  106.21  109.45  105.2500  107.92

In [5]:
def ema(df,n):
    alpha=2/(n+1)
    df['ema']=df.Last.ewm(alpha=alpha,adjust=False).mean()

In [6]:
ema(df,10)

In [7]:
df.head(10)

   Date (GMT)    Open     High       Low    Last         ema
0  2019-01-02  100.24  104.520   99.0400  104.01  104.010000
1  2019-01-03  102.40  103.000   99.1100   99.15  103.126364
2  2019-01-04  101.13  103.760   99.6601  101.70  102.867025
3  2019-01-07  101.50  104.940   99.2900  104.41  103.147566
4  2019-01-08  106.21  109.450  105.2500  107.92  104.015281
5  2019-01-09  108.70  109.580  107.1900  107.46  104.641594
6  2019-01-10  106.63  110.430  106.2000  110.00  105.615849
7  2019-01-11  109.53  111.685  107.8000  109.03  106.236604
8  2019-01-14  108.29  108.500  104.3700  104.98  106.008131
9  2019-01-15  105.20  106.995  102.5300  106.49  106.095743

In [8]:
def emaTrend(df):
    df['emaTrend'] = 0
    for i in range(1, len(df. index)):
        if df['ema'][i] > df['ema'][i - 1]:
            df.loc[i,'emaTrend'] = 1
        elif df['ema'][i] < df['ema'][i - 1]:
            df.loc[i, 'emaTrend'] = -1

In [9]:
emaTrend(df)
df.head(10)

   Date (GMT)    Open     High       Low    Last         ema  emaTrend
0  2019-01-02  100.24  104.520   99.0400  104.01  104.010000         0
1  2019-01-03  102.40  103.000   99.1100   99.15  103.126364        -1
2  2019-01-04  101.13  103.760   99.6601  101.70  102.867025        -1
3  2019-01-07  101.50  104.940   99.2900  104.41  103.147566         1
4  2019-01-08  106.21  109.450  105.2500  107.92  104.015281         1
5  2019-01-09  108.70  109.580  107.1900  107.46  104.641594         1
6  2019-01-10  106.63  110.430  106.2000  110.00  105.615849         1
7  2019-01-11  109.53  111.685  107.8000  109.03  106.236604         1
8  2019-01-14  108.29  108.500  104.3700  104.98  106.008131        -1
9  2019-01-15  105.20  106.995  102.5300  106.49  106.095743         1

In [10]:
df.head()

   Date (GMT)    Open    High       Low    Last         ema  emaTrend
0  2019-01-02  100.24  104.52   99.0400  104.01  104.010000         0
1  2019-01-03  102.40  103.00   99.1100   99.15  103.126364        -1
2  2019-01-04  101.13  103.76   99.6601  101.70  102.867025        -1
3  2019-01-07  101.50  104.94   99.2900  104.41  103.147566         1
4  2019-01-08  106.21  109.45  105.2500  107.92  104.015281         1

In [11]:
def trendBrDana(df, n):

    for i in range(len(df. index)):
        df.loc[i,'+day'] = 1 if df.loc[i, 'Last'] - df.loc[i, 'Open'] > 0 else 0
        df.loc[i,'-day'] = 1 if df.loc[i, 'Last'] - df.loc[i, 'Open'] < 0 else 0

    df['trendBrDana'] = 0

    for i in range(n, len(df. index)):
        if df['Last'][i] > df['Last'][i - n + 1] and df['+day'][i - n + 1: i].sum() / n >= 0.66:
            df.loc[i,'trendBrDana'] = 1
        elif df['Last'][i] < df['Last'][i - n + 1] and df['-day'][i - n + 1: i].sum() / n >= 0.66:
            df.loc[i,'trendBrDana'] = -1

In [12]:
trendBrDana(df,10)
df.head(30)

,Date (GMT),Open,High,Low,Last,ema,emaTrend,+day,-day,trendBrDana
0,2019-01-02,100.240,104.5200,99.0400,104.01,104.010000,0,1.0,0.0,0
1,2019-01-03,102.400,103.0000,99.1100,99.15,103.126364,-1,0.0,1.0,0
2,2019-01-04,101.130,103.7600,99.6601,101.70,102.867025,-1,1.0,0.0,0
3,2019-01-07,101.500,104.9400,99.2900,104.41,103.147566,1,1.0,0.0,0
4,2019-01-08,106.210,109.4500,105.2500,107.92,104.015281,1,1.0,0.0,0
5,2019-01-09,108.700,109.5800,107.1900,107.46,104.641594,1,0.0,1.0,0
6,2019-01-10,106.630,110.4300,106.2000,110.00,105.615849,1,1.0,0.0,0
7,2019-01-11,109.530,111.6850,107.8000,109.03,106.236604,1,0.0,1.0,0
8,2019-01-14,108.290,108.5000,104.3700,104.98,106.008131,-1,0.0,1.0,0
9,2019-01-15,105.200,106.9950,102.5300,106.49,106.095743,1,1.0,0.0,0
10,2019-01-16,106.810,107.5000,104.5800,105.93,106.065608,-1,0.0,1.0,0
11,2019-01-17,105.140,106.1600,104.4200,105.37,105.939134,-1,1.0,0.0,0
12,2019-01-18,106.650,108.6622,106.3200,108.26,106.361110,1,1.0,0.0,0
13,2019-01-22,107.690,108.2150,106.7200,107.33,106.537271,1,0.0,1.0,0
14,2019-01-23,107.860,108.1200,99.7200,99.81,105.314131,-1,0.0,1.0,0
15,2019-01-24,100.430,102.1600,99.8500,101.49,104.618835,-1,1.0,0.0,0
16,2019-01-25,102.500,104.5000,101.0200,103.70,104.451774,-1,1.0,0.0,0
17,2019-01-28,100.750,102.9400,100.1500,102.39,104.076906,-1,1.0,0.0,0
18,2019-01-29,102.510,102.6400,98.5000,100.81,103.482923,-1,0.0,1.0,0
19,2019-01-30,102.810,102.9800,100.9450,102.60,103.322391,-1,0.0,1.0,0
20,2019-01-31,102.910,106.3700,102.7800,105.55,103.727411,1,1.0,0.0,0
21,2019-02-01,105.400,106.0000,103.5300,104.95,103.949700,1,0.0,1.0,0
22,2019-02-04,105.910,107.4133,105.4600,106.30,104.377027,1,1.0,0.0,0
23,2019-02-05,106.690,109.0000,106.6500,107.29,104.906659,1,1.0,0.0,0
24,2019-02-06,96.755,99.8200,91.4850,92.53,102.656357,-1,0.0,1.0,0
25,2019-02-07,92.560,98.5700,92.0000,96.39,101.517019,-1,1.0,0.0,0
26,2019-02-08,95.400,97.2400,94.3800,97.14,100.721198,-1,1.0,0.0,0
27,2019-02-11,97.630,97.8300,92.8400,93.44,99.397344,-1,0.0,1.0,0
28,2019-02-12,90.850,90.9700,86.9000,89.25,97.552372,-1,0.0,1.0,0
29,2019-02-13,90.050,92.4100,88.8900,92.14,96.568304,-1,1.0,0.0,0

In [13]:
#this was going to be used in case our prediction task was different
def FutureReturn(df):
    for i in range(len(df. index)- 10):
        df['FutureReturn'] = df['Last'].shift(-10) - df['Last']

In [14]:
FutureReturn(df)

In [15]:
df.head(20)

,Date (GMT),Open,High,Low,Last,ema,emaTrend,+day,-day,trendBrDana,FutureReturn
0,2019-01-02,100.24,104.5200,99.0400,104.01,104.010000,0,1.0,0.0,0,1.92
1,2019-01-03,102.40,103.0000,99.1100,99.15,103.126364,-1,0.0,1.0,0,6.22
2,2019-01-04,101.13,103.7600,99.6601,101.70,102.867025,-1,1.0,0.0,0,6.56
3,2019-01-07,101.50,104.9400,99.2900,104.41,103.147566,1,1.0,0.0,0,2.92
4,2019-01-08,106.21,109.4500,105.2500,107.92,104.015281,1,1.0,0.0,0,-8.11
5,2019-01-09,108.70,109.5800,107.1900,107.46,104.641594,1,0.0,1.0,0,-5.97
6,2019-01-10,106.63,110.4300,106.2000,110.00,105.615849,1,1.0,0.0,0,-6.30
7,2019-01-11,109.53,111.6850,107.8000,109.03,106.236604,1,0.0,1.0,0,-6.64
8,2019-01-14,108.29,108.5000,104.3700,104.98,106.008131,-1,0.0,1.0,0,-4.17
9,2019-01-15,105.20,106.9950,102.5300,106.49,106.095743,1,1.0,0.0,0,-3.89
10,2019-01-16,106.81,107.5000,104.5800,105.93,106.065608,-1,0.0,1.0,0,-0.38
11,2019-01-17,105.14,106.1600,104.4200,105.37,105.939134,-1,1.0,0.0,0,-0.42
12,2019-01-18,106.65,108.6622,106.3200,108.26,106.361110,1,1.0,0.0,0,-1.96
13,2019-01-22,107.69,108.2150,106.7200,107.33,106.537271,1,0.0,1.0,0,-0.04
14,2019-01-23,107.86,108.1200,99.7200,99.81,105.314131,-1,0.0,1.0,0,-7.28
15,2019-01-24,100.43,102.1600,99.8500,101.49,104.618835,-1,1.0,0.0,0,-5.10
16,2019-01-25,102.50,104.5000,101.0200,103.70,104.451774,-1,1.0,0.0,0,-6.56
17,2019-01-28,100.75,102.9400,100.1500,102.39,104.076906,-1,1.0,0.0,0,-8.95
18,2019-01-29,102.51,102.6400,98.5000,100.81,103.482923,-1,0.0,1.0,0,-11.56
19,2019-01-30,102.81,102.9800,100.9450,102.60,103.322391,-1,0.0,1.0,0,-10.46

In [16]:
df['FutureEmaTrend'] = df['emaTrend'].shift(-10)
df['FutureTrendBrDana'] = df['trendBrDana'].shift(-10)

In [17]:
df.head(20)

,Date (GMT),Open,High,Low,Last,ema,emaTrend,+day,-day,trendBrDana,FutureReturn,FutureEmaTrend,FutureTrendBrDana
0,2019-01-02,100.24,104.5200,99.0400,104.01,104.010000,0,1.0,0.0,0,1.92,-1.0,0.0
1,2019-01-03,102.40,103.0000,99.1100,99.15,103.126364,-1,0.0,1.0,0,6.22,-1.0,0.0
2,2019-01-04,101.13,103.7600,99.6601,101.70,102.867025,-1,1.0,0.0,0,6.56,1.0,0.0
3,2019-01-07,101.50,104.9400,99.2900,104.41,103.147566,1,1.0,0.0,0,2.92,1.0,0.0
4,2019-01-08,106.21,109.4500,105.2500,107.92,104.015281,1,1.0,0.0,0,-8.11,-1.0,0.0
5,2019-01-09,108.70,109.5800,107.1900,107.46,104.641594,1,0.0,1.0,0,-5.97,-1.0,0.0
6,2019-01-10,106.63,110.4300,106.2000,110.00,105.615849,1,1.0,0.0,0,-6.30,-1.0,0.0
7,2019-01-11,109.53,111.6850,107.8000,109.03,106.236604,1,0.0,1.0,0,-6.64,-1.0,0.0
8,2019-01-14,108.29,108.5000,104.3700,104.98,106.008131,-1,0.0,1.0,0,-4.17,-1.0,0.0
9,2019-01-15,105.20,106.9950,102.5300,106.49,106.095743,1,1.0,0.0,0,-3.89,-1.0,0.0
10,2019-01-16,106.81,107.5000,104.5800,105.93,106.065608,-1,0.0,1.0,0,-0.38,1.0,0.0
11,2019-01-17,105.14,106.1600,104.4200,105.37,105.939134,-1,1.0,0.0,0,-0.42,1.0,0.0
12,2019-01-18,106.65,108.6622,106.3200,108.26,106.361110,1,1.0,0.0,0,-1.96,1.0,0.0
13,2019-01-22,107.69,108.2150,106.7200,107.33,106.537271,1,0.0,1.0,0,-0.04,1.0,0.0
14,2019-01-23,107.86,108.1200,99.7200,99.81,105.314131,-1,0.0,1.0,0,-7.28,-1.0,0.0
15,2019-01-24,100.43,102.1600,99.8500,101.49,104.618835,-1,1.0,0.0,0,-5.10,-1.0,0.0
16,2019-01-25,102.50,104.5000,101.0200,103.70,104.451774,-1,1.0,0.0,0,-6.56,-1.0,0.0
17,2019-01-28,100.75,102.9400,100.1500,102.39,104.076906,-1,1.0,0.0,0,-8.95,-1.0,0.0
18,2019-01-29,102.51,102.6400,98.5000,100.81,103.482923,-1,0.0,1.0,0,-11.56,-1.0,0.0
19,2019-01-30,102.81,102.9800,100.9450,102.60,103.322391,-1,0.0,1.0,0,-10.46,-1.0,0.0

In [18]:
df2 = df.loc[:,['Date (GMT)','Open','Last', 'emaTrend', 'trendBrDana', 'FutureReturn', 'FutureEmaTrend', 'FutureTrendBrDana']]

In [36]:
df2.to_csv('data/prices_trends/ntdoytrendsandprices.csv', sep=',', index=False)